.login__logo{
    display: block;
    margin: 1rem auto;
    scale: 0.6
}

.login__titulo, .login__titulo>h1{
    color: var(--corPrincipal);
    font-weight:400;
    font-size:16px;
    text-align: center;
    margin-bottom: 1rem;
    padding: 0 2rem;
}

@media screen and (min-width: 768px){
    .login__titulo, .login__titulo>h1{
        margin-top: 9rem;
        padding: 0 3rem;
    }
}

@media  screen and (min-width: 1080px){
    .login__logo{
        scale: 1;
        margin:-5% auto 0 ;
    }
    .login__titulo, .login__titulo>h1{
        margin-top: 0;
        padding: 1rem 3rem;
        font-size:18px
    }
    .login__container{
        margin-top:5%
    }
}