.botao{
    background-color: var(--corBotao);
    border-radius: 6px;
    border: 0;
    color: var(--corBranco);
    font-size: 16px;
    font-weight:600;
    padding: .5rem 0 ;
    width: 50%;
    margin: 10% auto 0;
}

.formulario__base{
    background-color: var(--corFundo);
    border-radius: 10px;
    color : var(--corPrincipal);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    padding: 2rem;
    margin: 1rem auto 3rem;
    width: 90%;
}

.formulario__base--input {
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    padding: .5rem
}

.mensagem__input:placeholder {
    margin-left: .2rem;
}


@media screen and (min-width: 768px){
    .formulario__base{
        margin: 1rem auto 7.5rem;
        width: 75%;
    }
}

@media screen and (min-width: 1080px){
    .login__container{
        background-image: url(../assets/imgs/Forma\ 2.png);
        background-size: 6%;
        background-position-y:25%;
        background-position-x:100%;
        background-repeat: no-repeat;

        
    }

    .formulario__base{
        width: 25%;
        margin-top: 2%;
        font-size: 16px;
        font-weight: 600;
        scale: 1.2;
        margin-bottom: 10%;
    }
}