@media screen and (min-width: 768px) {
    .login__container{
        background-image: url(../assets/imgs/Forma\ 2.png);
        background-size: 15%;
        background-position-y:25%;
        background-position-x:100%;

        padding: 7.5rem 12rem;
        margin-top: 15%;
        
    }

    .login__container--responsivo{
        margin-top:5%;
    }
}

@media screen and (min-width: 1080px){
    body{
        background-size:40% , 15%;
    }

    .login__container{
        margin-top:0;

        background-position-y:100%;
        background-size: 7%;
        margin-bottom: 6%;
    }

    .formulario__input{
        width:40%;
    }

    .formulario__input--desktop{
        width:60%;
    }

   
}

