body{
    background-color: var(--corPrincipal);
}

.home__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:.5rem;
    padding:4rem 4rem 0 4rem ;
    margin-top: 30%;
    
    background-image: url(../assets/imgs/Forma\ 2.png);
    background-repeat: no-repeat;
    background-size:30%;
    background-position-x:118%
}

.home__ilustracao{
    background-image: url(../assets/imgs/Ilustração_\(1\).png);
    background-repeat: no-repeat;
    background-size:80%;
    background-position-x: 20%;
    background-position-y:110% ;
    
    padding: 10rem;
    margin-top:3.5rem;
    z-index: -10;
}

.home__logo{
    display: block;
    margin: 1rem auto;
    
}

.home__paragrafo, .home__paragrafo--responsivo{
    color:var(--corBranco)
    
}

.home__titulo{
    font-family: 'IBM Plex Sans', sans-serif;
}

.home__paragrafo, .home__titulo, .home__paragrafo--responsivo{
    text-align: center

}
.home__paragrafo--responsivo{
    display: none;
}

@media screen and (min-width: 768px) {
    .home__container{
        background-size: 15%;
        background-position-y:25%;
        background-position-x:100%;

        padding: 3rem 12rem;
        margin-top: 15%;
        
    }

    .home__ilustracao{
       margin-top: 22%;
    }

    .home__paragrafo{
        display:none;
    }
    .home__paragrafo--responsivo{
        display: inline;
        padding: 0 2rem;
    }
}

@media screen and (min-width: 1080px){
    .home__container{
        margin-top:5%;

        background-position-y:0;
        background-size: 8%;
    }
   
    .home__paragrafo--responsivo{
        padding: 0 35%;
    }
    .home__ilustracao{
        margin-top:6%
    }
}
