.rodape {
    background-color: var(--corSecundaria);
    margin-top: -1.5rem;
    padding: 1rem 0;
}

.rodape__paragrafo {
    color: var(--corBranco);
    font-size: 12px;
    text-align: center;
    padding: 1rem;
}