:root{
    --corPrincipal: #3772FF;
    --corSecundaria: #36D6AD;
    --corBotao: #FC7071;
    --corBotaoHover: #FF9D9E;
    --corCreme: #FCF0E3;
    --corLetraFormulario: #737380;
    --corLetraPlaceHolder: #BCBCBC;
    --corFundo: #F6F6F6;
    --corBranco: #FFFFFF;

}

*{
    font-family:'Poppins', sans-serif;
}
p{
    color: var(--corPrincipal)
}

body{
    color: var(--corBranco);
    background-color: var(--corPrincipal);
    background-image: url(../assets/imgs/Forma\ 1.png);
    background-repeat: no-repeat;
    background-size:100%;
    
}