:root{
    --corPrincipal: #3772FF;
    --corSecundaria: #36D6AD;
    --corBotao: #FC7071;
    --corBotaoHover: #FF9D9E;
    --corCreme: #FCF0E3;
    --corLetraFormulario: #737380;
    --corLetraPlaceHolder: #BCBCBC;
    --corFundo: #F6F6F6;
    --corBranco: #FFFFFF;

}

.teste{
    background-color: var(--corPrincipal);
}

p{
    color: var(--corPrincipal)
}
